
extends layout

block content
	div.container(style='margin:20px auto')
		table.table.table-bordered.table-striped
			thead
				tr
					th(style='width:40px;text-align:center') #
					th(style='width:220px') Nombre
					th(style='width:220px') Usuario
					th(style='width:220px') Ubicación
					th Fecha de creación
			tbody
			- for (var i = 0; i < accts.length; i++)
				tr
					td(style='text-align:center')= i+1
					td= accts[i].name
					td= accts[i].user
					td= accts[i].country
					td= accts[i].date